<div{{ attributes }} class="p-6">
    <dl data-controller="pwa--device-motion">
        <dt class="font-medium text-gray-500 dark:text-gray-400">Acceleration</dt>
        <dd class="text-gray-900 dark:text-white">X={{ this.acceleration.x }}, Y={{ this.acceleration.y }}, Z={{ this.acceleration.z }}</dd>
        <dt class="font-medium text-gray-500 dark:text-gray-400">Acceleration with gravity</dt>
        <dd class="text-gray-900 dark:text-white">X={{ this.accelerationIncludingGravity.x }}, Y={{ this.accelerationIncludingGravity.y }}, Z={{ this.accelerationIncludingGravity.z }}</dd>
        <dt class="font-medium text-gray-500 dark:text-gray-400">Rotation rate</dt>
        <dd class="text-gray-900 dark:text-white">Alpha={{ this.rotationRate.alpha }}, Beta={{ this.rotationRate.beta }}, Gamma={{ this.rotationRate.gamma }}</dd>
        <dt class="font-medium text-gray-500 dark:text-gray-400">Interval</dt>
        <dd class="text-gray-900 dark:text-white">{{ this.interval }}</dd>
    </dl>
</div>
